.hero-image{

    background-image: url(hero_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 352px;
}

.hero-text{

     color: whitesmoke;
     position: absolute;
     text-align: center;
     top: 280 px;
     width: 100%;
     font-size: large;
     
}